@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

*{
  font-family: 15.89px "Poppins", sans-serif;
}
.img.mod--platform-parallax {
    position: relative;
    width: 1.875rem;
    height: 2.6875rem;
    background-image: url(../../assets/63a5a243760c9d1ca0c6b047_ico-$.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


