<!-- <div class="row">
  <div class="col-12">
    <div class="col-8">
      <form action="">
        <div class="row">
          <div class="col-4">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email" />
            <div class="row">
              <div class="col-2 me-5"><button>Financial Services</button></div>
              <div class="col-2 me-2">Real Estate</div>
            </div>
          </div>
          <div class="col-4">
            <textarea name="" id="" cols="20" rows="3"></textarea>
            <button>Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4">
      <h1>Contact Us</h1>
      <p>
        Our Predictive Analytics utilize a combination of event-driven data,
        historical data.
      </p>
    </div>
  </div>
</div> -->


<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-8">
          <form action="">
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="form-control mb-3" placeholder="Name">
                <input type="text" class="form-control mb-3" placeholder="Email">
                <div class="row">
                  <div class="col-md-2 me-5 mb-2">
                    <button class="btn btn-primary">Financial Services</button>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-2">Real Estate</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <textarea class="form-control mb-3" rows="3"></textarea>
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <h1>Contact Us</h1>
          <p>
            Our Predictive Analytics utilize a combination of event-driven data,
            historical data.
          </p>
        </div>
      </div>
    </div>
  </div>