@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

*{
  font-family: 15.89px "Poppins", sans-serif;
}

.testimonial__author {
    color: #07133b;
    font-size: 1.5rem;
    font-weight: 500;
}