<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-4 mb-4">
          <div class="">
            <h4 class="me-2">400mm+</h4>
            <p>Data points used for analytics</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="">
            <h4 class="me-2">$3Tn</h4>
            <p>Investable assets predicted per year</p>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <h4 class="me-2">$77Bn</h4>
            <p>Predicted home value transacted per year</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <!-- <div class="col-md-6 col-sm-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-text"><p>boots your</p></h4>
              <p class="card-title">Financial Services</p>
              <a href="#" > Learn more</a>
              <img src="../../assets/63a1773692843c90c3b68cfc_long.svg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-4">
          
          <div class="card card1">
            <div class="card-body">
              <h4 class="card-text"><p>boots your</p></h4>
              <p class="card-title">Real Estate</p>
              <a href="#" class="">Learn more</a>
              <img src="../../assets/63a1773692843c90c3b68cfc_long.svg" alt="">
            </div>
          </div>
        </div> -->

        <div
          id="w-node-_84b93129-be0d-7d10-bc1a-05e9cbf26491-5db68ca2"
          class="hero__buttons-container"
        >
          <a
            href="/financial-services"
            data-btn=""
            class="hero__btn-card anim-load-up w-inline-block"
            style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            ><div class="hero__button-content">
              <div class="hero__button-subtitle">boost your</div>
              <div class="hero__button-title">Financial Services</div>
            </div>
            <div class="link-button__container link-button__container--width">
              <div class="link-text mobile--hide">Learn more</div>
              <img
                src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c90c3b68cfc_long.svg"
                loading="lazy"
                alt=""
                class="arrow-icon"
              />
            </div>
            <div class="btn-bg">
              <div class="btn-circles">
                <div class="btn-circle"></div>
                <div class="btn-circle mod--2"></div>
              </div></div></a
          ><a
            data-btn=""
            href="/real-estate"
            class="hero__btn-card anim-load-up w-inline-block"
            style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
            ><div class="hero__button-content">
              <div class="hero__button-subtitle">boost your</div>
              <div class="hero__button-title">Real Estate</div>
            </div>
            <div class="link-button__container link-button__container--width">
              <div class="link-text mobile--hide">Learn more</div>
              <img
                src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c90c3b68cfc_long.svg"
                loading="lazy"
                alt=""
                class="arrow-icon"
              />
            </div>
            <div class="btn-bg bg-color-dark">
              <div class="btn-circles">
                <div data-btn-circle="" class="btn-circle mod--dark"></div>
                <div
                  data-btn-circle=""
                  class="btn-circle mod--2 mod--dark"
                ></div>
              </div></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
