

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-4 mb-4">
          <div class="">
            <h4 class="me-2">400mm+</h4> 
            <p>Data points used for analytics</p>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="">
            <h4 class="me-2">$3Tn</h4>
            <p>Investable assets predicted per year</p>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <h4 class="me-2">$77Bn</h4>
            <p>Predicted home value transacted per year</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-text"><p>boots your</p></h4>
              <p class="card-title">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" > Learn more</a>
              <img src="../../assets/63a1773692843c90c3b68cfc_long.svg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-4">
          <!-- You can keep or modify this column based on your design requirements -->
          <div class="card card1">
            <div class="card-body">
              <h4 class="card-text"><p>boots your</p></h4>
              <p class="card-title">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="">Learn more</a>
              <img src="../../assets/63a1773692843c90c3b68cfc_long.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>