<div class="container">
  <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <h5>400mm+</h5>
                    <p>Data points used for analytics</p>
                  </div>
                  <div class="col-3">
                    <h5>$3Tn</h5>
                    <p>Investable assets predicted per year</p>
                  </div>
                  <div class="col-3">
                    <h5>$77Bn</h5>
                    <p>Predicted home value transacted per year</p>
                  </div>
            </div>
          
          </div>
   
    
    <div class="col-6">
      <div class="col-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-3">
        <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
