
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

  
  
* {
  font-family: 15.89px "Poppins", sans-serif;
   
    height: 100%
    
}


div{
    background-image: url(../assets/63a31337f5ac0cad3d268502_bg-01.webp);
    
    background-size: 290rem;
    background-repeat: no-repeat;
    background-position: center top; 
  }

  .bg{
    background-image: url(../assets/63a31337f5ac0cad3d268502_bg-01.webp);
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center; 
  }

 
  html {
    scroll-behavior: smooth;
  }
 

  