@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

*{
  font-family: 15.89px "Poppins", sans-serif;
}

.mab24 {
  margin-left: 33%;
}

.mb {
  margin-left: 28%;
}

.properties__add-info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  color: #141f45;
}
