<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/63a1773692843c3ccfb68d2c_Card.svg" alt="" style="width: 150px; height: 150px;">
        </div>
        <div class="col-6" id="w-node-_15890bb3-f841-a4cb-8d5b-46ba174f6ae4-5db68ca2" class="hero__text-container">
            <h1>
                Grow your business with Event-Driven Predictive Analytics
        </h1>
        <div style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <p>Catalyze AI is a predictive analytics business development platform used by Financial Services and Real Estate professionals to identify their target market and grow their business rapidly.</p>

        </div>
    </div>
    </div>
  
</div>
